{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('adminJob') }}
{% endblock %}

{% block body %}
    <h2 class="text-center pt-3 my-3">Derniers posts</h2>
    <section class="container-fluid adminOffre pb-5">
        <div class="row d-flex justify-content-center mx-1">
            {% for job in jobs %}
                <div class=" col-xl-3 col-lg-6 data-card my-2">
                    <h2 class="postname text-center d-flex align-items-center justify-content-center">{{ job.post|upper|length > 20 ? job.post|slice(0, 20) ~ '...' : job.post }}</h2>
                    <h3 class="post text-center">
                        <i class="fas fa-industry"></i>
                    <h3 class="studyField text-center">
                        <i class="fas fa-graduation-cap"></i>
                        {{ job.studyField.studyFieldName }}</h3>
                    
                    <h4 class="mt-2 text-center">
                        <i class="fas fa-table"></i>
                        Postée le :
                        {{ job.registeredAt ? job.registeredAt|date('Y-m-d') : '' }}</h4>
                </div>
                
            {% else %}
                <p class="alert alert-warning text-center bg-primary text-light">Aucun post</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
